<h1>New game</h1>
<ul>
    <div class="container">
      <div class="row g-1">
        <% @letters.each do |letter| %>
        <div class="col-sm">
          <div class="letters">
            <%= letter.capitalize %>
          </div>
        </div>
        <% end %>
      </div>
      <p>What's the longest word you can find?</p>
      <form action="/score" method="post" data-turbo="false">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <%= hidden_field_tag :letters, @letters.join %>
        <input type="text" name="word">
        <input type="submit" value="play">
      </form>
    </div>
</ul>
